body{
    height: 100vh;
}

.cheap-product{
    display: grid;
    height: 100%;
    width: 100%;
    max-width: 360px;
    margin: 0 auto;

    place-content: center;
}

.product__image{
    display: block;
    width: 100%;
    height: 100%;
    max-height: 200px;
    max-width: 100%;
    object-fit: cover;
}

.product__name{
    margin-bottom: 0;
}   

.product__description{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product__price{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 1.5em;
}

.product__price .symbol{
    font-weight: bold;
}

.product__actions .btn:nth-child(1){
    margin-bottom: 5px;
}