body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    padding: 0;
    margin: 0;
}

img{
    box-sizing: border-box;
    max-width: 100%;
}

.nav{
    margin-left: auto;
}

.nav__list{
    list-style: none;
    padding: 0;
}

.nav__link{
    text-decoration: none;
    color: inherit;
}