<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# IMPORT BOOTSTRAPCSS && JS #}
    <link rel="stylesheet" href="{{ url_for('static',path='/packages/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',path='/packages/bootstrap/js/bootstrap.min.js') }}">

    {# IMPORT OWN CSS #}
    <link rel="stylesheet" href="{{ url_for('static',path='/css/styles.css') }}">
    
    <title>{%- block title -%}{%- endblock -%} - Compare console prices</title>
    {% block scripts %}{% endblock %}
    {% endblock %}
</head>
<body>
    <div id="content">
        <header id="header">
            {%include "components/navbar.html" %}
        </header>
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        {% block footer %}{% endblock %}
    </div>
</body>
</html>