{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',path='/css/compare_prices.css') }}">
{% endblock head %}
{% block content %}
<div class="cheap-product product">
    <img class="product__image" src="{{ product.image }}" alt="{{ product.display_name }}">
    <h1 class="h1">{{ product.display_name }}</h1>
    <div class="d-flex justify-content-between align-item-center">
        <p class="m-0 fs-5">Tienda: <span>{{store.name}}</span></p>
        <p class="m-0 fs-2 fw-bold"><span class="fw-normal">S/.</span> {{ product.price }}</p>
    </div>
    <div class="d-grid gap-2">
        <a class="btn btn-primary rounded-pill" target="_blank" href="{{ store.base_url }}">Visitar tienda</a>
        {% if product.original_url.startswith("/")  %}
            <a class="btn btn-primary rounded-pill" target="_blank" href="{{ store.base_url + product.original_url }}">Comprar</a>
        {% else %}
            <a class="btn btn-primary rounded-pill" target="_blank" href="{{ product.original_url }}">Comprar</a>
        {% endif %}
    </div>
</div>
{% endblock %}