{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',path='/css/home.css') }}">
{% endblock head %}
{% block content %}
<main class="container mt-2">
    <h1 class="h1">Precios de consolas</h1>
    <div>
        <p>Encuentre los mejores precios de consolas</p>
        <p>Último recorrido de tiendas: <span>XX/XX/XXXX</span></p>
    </div>
    <section id="consoles">
        <h2>Consolas</h2>
        <div class="products">
        {% for product in products %}
            <article>
                <a class="product card" href="/compare/{{product.name}}">
                    <img class="card-img-top p-1" src="{{product.image}}" alt="{{product.display_name}}">
                    <h1 class="h3 card-title text-center">{{product.display_name}}</h1>
                </a>
            </article>
        {% endfor %}
        </div>
    </section>
</main>
{% endblock content %}